@media (max-width: 599px) {

    .inner-page{
        padding: 20px 0 40px;
    }

    .container{
        width: auto;
    }

    .article{
        margin-bottom: 30px;
    }

    .article h1{
        font-size: 28px;
    }

    .article-page-nav-title {
        margin-bottom: 15px;
    }
}
