@media (max-width: 1199px) {
    .inner-page{
        padding: 60px 0 60px;
    }

    .inner-page-turs-header{
        margin-bottom: 40px;
    }

    .main-header{
        font-size: 50px;
    }

    .free-turs,
    .extreme-turs{
        width: 420px;
    }

    .card-title-wrapper{
        height: 60px;
    }

    .card-title{
        font-size: 24px;
    }

    .card-title-wrapper{
        padding: 0 20px;
    }

    .card-adventure,
    .card-treking {
        width: 495px;
    }

    .card-jungle {
        width: 345px;
    }

}