@charset "UTF-8";
*,
*::after,
*::before {
  box-sizing: border-box; }

html {
  height: 100%;
  /* sicky footer */
  scroll-behavior: smooth; }

body {
  height: 100%;
  /* sicky footer */
  display: flex;
  /* sicky footer */
  flex-direction: column;
  /* sicky footer */
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  color: #31405B; }

body > * {
  /* sicky footer */
  flex-shrink: 0; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

legend {
  padding: 0;
  border: none; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

input {
  font-family: 'PT Sans', sans-serif; }

label {
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6,
html,
body,
iframe,
p,
blockquote,
pre,
dl,
dt,
dd,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  bottom: 0;
  list-style: none; }

.container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto; }
  @media (max-width: 1199px) {
    .container {
      max-width: 900px; } }
  @media (max-width: 899px) {
    .container {
      width: 100%; } }
  @media (max-width: 599px) {
    .container {
      width: 320px; } }

.bgcolor {
  background: #F2F8F6; }

.inner-page {
  padding-top: 60px;
  padding-bottom: 100px; }

.main-header {
  font-weight: 700;
  font-size: 54px;
  color: #31405B; }

.none {
  display: none; }

.button {
  display: inline-block;
  outline: none;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  height: 50px;
  line-height: 50px;
  padding-left: 40px;
  padding-right: 40px;
  border: none;
  background: #0AC883;
  border-radius: 50px;
  transition: .2s ease-in;
  cursor: pointer; }

.button:hover {
  box-shadow: 0px 8px 20px rgba(24, 219, 148, 0.35); }

.header {
  height: 800px;
  background-color: #265847;
  background-image: url(../img/header/header-bg.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 50px;
  color: #fff;
  position: relative; }

.header-inner {
  height: 100px;
  background-color: #265847;
  background-image: url(../img/header/header-small-bg.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: center; }

.header-top {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo a {
  text-decoration: none;
  color: #fff; }

.header-nav {
  font-size: 22px;
  color: #FFFFFF; }

.header-nav-list {
  display: flex; }

.header-nav-button {
  display: none; }

.header-nav-list-item:not(:last-child) {
  margin-right: 50px; }

.header-nav-list-item:hover {
  text-decoration: underline; }

.header-nav-link {
  text-decoration: none;
  color: #FFFFFF; }

.header-content {
  width: 1170px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.header-title {
  margin-top: 15px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1;
  font-size: 60px;
  color: #FFFFFF; }

.header-content p {
  font-size: 24px;
  color: #FFFFFF; }

.header-scrol {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  padding-bottom: 34px;
  display: inline-block;
  transition: background-color, padding-bottom  .2s ease-in; }

.header-scrol::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: block;
  width: 18px;
  height: 24px;
  background-image: url(../img/header/arrow-down.svg); }

.logo {
  font-family: 'Lobster', cursive;
  font-size: 40px; }

.main {
  padding-top: 120px;
  padding-bottom: 120px; }

.main-row {
  margin-bottom: 120px;
  display: flex;
  justify-content: space-between; }

.main-row-reverse {
  flex-direction: row-reverse; }

.main-row:last-child {
  margin-bottom: 0; }

.main-content {
  width: 470px; }

.main-img {
  width: 570px; }

.main-content-header {
  margin-bottom: 20px; }

.main-content-text {
  font-size: 20px;
  line-height: 1.6;
  color: #31405B;
  margin-bottom: 40px; }

.main-content-text p {
  margin-bottom: 15px; }

.main-content-text p a {
  color: #138ECE; }

footer {
  margin-top: auto;
  /* sicky footer */
  padding-top: 70px;
  padding-bottom: 90px;
  background: #265847;
  color: #FFFFFF; }

footer a {
  text-decoration: none;
  color: #fff; }

footer a:hover {
  text-decoration: underline; }

.footer-row {
  display: flex;
  justify-content: space-between;
  font-size: 18px; }

.footer-wrap {
  display: flex; }

/* Footer-copyright */
.footer-copyright {
  width: 270px; }

.footer-logo {
  margin-bottom: 26px; }

.footer-copyright p {
  font-size: 16px;
  line-height: 1.6; }

/* Footer-info */
.footer-info {
  width: 170px;
  margin-right: 30px; }

.footer-info-title {
  font-weight: 700;
  font-size: 24px;
  margin-top: 7px;
  margin-bottom: 30px; }

.footer-info-list li {
  margin-bottom: 15px; }

/* Footer-services */
.footer-services {
  width: 269px;
  margin-right: 30px; }

.footer-services-title {
  font-weight: 700;
  font-size: 24px;
  margin-top: 9px;
  margin-bottom: 30px; }

.footer-services-list li {
  margin-bottom: 14px; }

/* Footer-contacts */
.footer-contacts {
  width: 270px; }

.footer-contacts-title {
  font-weight: 700;
  font-size: 24px;
  margin-top: 9px;
  margin-bottom: 30px; }

.footer-contacts-list li {
  margin-bottom: 14px; }

.inner-page-turs-header {
  text-align: center;
  margin-bottom: 60px; }

.inner-page-turs-header .header-2 {
  margin-bottom: 0; }

.card-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px; }

.card-box a {
  text-decoration: none;
  display: block; }

.card-box:last-child {
  margin-bottom: 0; }

.free-turs {
  transition: .2s ease-in;
  width: 570px;
  background-color: #A6A6A6; }

.free-turs:hover {
  transform: translateY(-15px);
  box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.5); }

.card-title-wrapper {
  display: flex;
  align-items: center;
  height: 80px;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  overflow: hidden;
  white-space: nowrap; }

.card-title {
  font-weight: 700;
  font-size: 28px;
  text-overflow: ellipsis;
  overflow: hidden; }

.extreme-turs {
  width: 570px;
  transition: .2s ease-in;
  background: #C1B19B; }

.extreme-turs:hover {
  transform: translateY(-15px);
  box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.5); }

.card-column > * + * {
  /* выбирает соседа с лева  */
  margin-top: 30px; }

.card-adventure {
  width: 670px;
  transition: .2s ease-in;
  background: #66B0BE; }

.card-adventure:hover {
  transform: translateY(-15px);
  box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.5); }

.card-treking {
  width: 670px;
  transition: .2s ease-in;
  background: #876F56; }

.card-treking:hover {
  transform: translateY(-15px);
  box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.5); }

.card-jungle {
  width: 470px;
  transition: .2s ease-in;
  background: #27695E; }

.card-jungle:hover {
  transform: translateY(-15px);
  box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.5); }

.row-article-page {
  display: flex;
  justify-content: space-between; }

.article-page-nav {
  width: 270px;
  flex-shrink: 0;
  flex-grow: 0; }

.article-page-nav-title {
  margin-bottom: 34px;
  font-weight: 700;
  color: #31405B;
  font-size: 28px; }

.article-page-nav-list {
  border-top: 1px solid #D6D9D8; }

.article-page-nav-list li {
  border-bottom: 1px solid #D6D9D8; }

.article-page-nav-list a {
  text-decoration: none;
  display: block;
  font-size: 20px;
  color: #138ECE;
  padding-top: 15px;
  padding-bottom: 15px; }

.article-page-nav-list a.active {
  font-weight: 700;
  color: #E04E4E; }

.article-page-nav-list a:hover {
  text-decoration: underline; }

.article {
  width: 770px;
  flex-shrink: 0;
  flex-grow: 0;
  color: #31405B;
  font-size: 20px;
  line-height: 1.6; }

.article a {
  color: #138ECE; }

.article h1 {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 54px;
  line-height: 1.2;
  margin-top: -6px; }

.article h2,
.article h3,
.article h4 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 15px;
  line-height: 1.2; }

.article h3 {
  font-size: 26px; }

.article h4 {
  font-size: 22px; }

.article p {
  margin-bottom: 15px; }

.article p:last-child {
  margin-bottom: 0; }

.article-img {
  margin-top: 40px;
  margin-bottom: 40px; }

.contacts-header {
  margin-bottom: 40px; }

.contact-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.contact-info {
  width: 470px; }

.contact-block + .contact-block {
  margin-top: 40px; }

.contact-block-title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px; }

.contact-list li {
  margin-bottom: 15px; }

.contact-list a {
  font-size: 20px;
  text-decoration: none;
  color: #138ECE; }

.contact-list-icon {
  position: relative;
  padding-left: 39px; }

.contact-list-icon::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px; }

.contact-list-icon.phone::before {
  background-image: url(../img/icon/phone.svg); }

.contact-list-icon.mail::before {
  background-image: url(../img/icon/mail.svg); }

.contact-list-icon.address::before {
  background-image: url(../img/icon/map-pin.svg); }

.contact-page {
  padding: 60px 0 100px; }

.form {
  padding: 40px;
  width: 630px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(211, 211, 211, 0.25); }

.form-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px; }

.form-group {
  font-size: 18px;
  margin-bottom: 30px; }

.form-group:last-of-type {
  margin-bottom: 35px; }

.form-group-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px; }

.form-group-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; }

.form-group-row > .input + .input {
  margin-left: 10px; }

.input {
  height: 50px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background: #EEEEEE;
  border: 1px solid #C0C0C0;
  border-radius: 6px;
  font-size: 18px;
  color: #31405B; }

.input:focus {
  outline: none;
  border: 1px solid #0ac883;
  box-shadow: 0px 0px 10px 0 rgba(51, 148, 112, 0.5); }

.input::placeholder {
  color: rgba(49, 64, 91, 0.5); }

.radio-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px; }

.real-radio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  z-index: -1; }

.custom-radio {
  position: relative;
  flex-shrink: 0;
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: #EEEEEE;
  border: 1px solid #C0C0C0;
  border-radius: 50%;
  vertical-align: bottom; }

.real-radio:focus + .custom-radio {
  border: #2AB698;
  box-shadow: 0 0 0px 2px #333; }

.custom-radio::before {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  left: 50%;
  top: 50%;
  background: #2AB698;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform .2s ease-in; }

.real-radio:checked + .custom-radio::before {
  transform: translate(-50%, -50%) scale(1); }

.real-checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  z-index: -1; }

.checkbox-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px; }

.real-checkbox:focus + .custom-checkbox {
  border: #2AB698;
  box-shadow: 0 0 0px 2px #333; }

.custom-checkbox {
  position: relative;
  flex-shrink: 0;
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background: #EEEEEE;
  border: 1px solid #C0C0C0;
  border-radius: 2px;
  vertical-align: bottom; }

.custom-checkbox::before {
  content: "";
  position: absolute;
  display: block;
  width: 17px;
  height: 17px;
  left: 50%;
  top: 50%;
  background-image: url(../img/icon/checkbox.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: translate(-50%, -50%) scale(0);
  transition: transform .2s ease-in; }

.real-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1); }

.input:focus {
  outline: none;
  border: 1px solid #0ac883;
  box-shadow: 0px 0px 10px 0 rgba(51, 148, 112, 0.5); }

.ui .container {
  display: flex;
  justify-content: space-between; }

.ui {
  padding: 40px; }

.ui-header {
  font-size: 42px;
  margin-bottom: 30px; }

.ui-header-2 {
  font-size: 32px;
  margin-bottom: 30px; }

ul.ui-list {
  font-size: 20px;
  padding-left: 25px;
  display: inline-block; }

ul.ui-list li {
  margin-bottom: 10px;
  border-bottom: 2px solid #C0C0C0;
  list-style-type: disc; }

ul.ui-list a {
  text-decoration: none;
  color: #18aab4; }

ul.ui-list a:hover {
  color: black; }

.products-list {
  display: inline-block;
  padding-left: 25px; }

.products-list a:hover {
  color: #000; }

.products-list li {
  margin-bottom: 10px;
  list-style-type: disc;
  border-bottom: 2px solid  #C0C0C0; }

.products-list a {
  text-decoration: none;
  color: #18aab4; }

@media (max-width: 1199px) {
  .container {
    max-width: 900px; }

  .header {
    height: 591px; }

  .header-top {
    width: 100%;
    padding: 0 15px; }

  .header-content {
    width: 900px; }

  .header-nav-list {
    display: none; }

  .header-nav-button {
    display: block;
    background: transparent;
    border: none;
    padding: 0; }

  .header-title {
    font-size: 52px; }

  .header-scrol {
    font-size: 0; }

  /* Main */
  .main {
    padding: 80px 0; }

  .main-row {
    margin-bottom: 80px; }

  .main-content {
    width: 420px; }

  .main-img {
    width: 420px; }

  .main-content-text {
    font-size: 18px;
    margin-bottom: 20px; }

  /* Footer */
  footer {
    padding: 50px 0; }

  .footer-logo {
    margin-bottom: 20px; }

  .footer-logo .logo {
    font-size: 30px; }

  .footer-wrap h3 {
    margin-bottom: 20px; }

  .footer-copyright {
    width: 195px; }

  .footer-copyright p {
    font-size: 14px; }

  .footer-services {
    display: none; } }
@media (max-width: 899px) {
  .container {
    width: 100%; }

  .header-top {
    width: 100%; }

  .logo {
    font-size: 30px; }

  .header-content {
    width: 100%; }

  .header-title {
    font-size: 42px; }

  .header-content p {
    font-size: 20px; }

  /* Main */
  .main {
    padding: 60px 0; }

  .main-row {
    flex-direction: row-reverse;
    margin-bottom: 60px; }

  .main-img {
    width: 170px;
    margin-right: 30px;
    flex-shrink: 0; }

  .main-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

  .main-header {
    font-size: 42px; }

  .main-content {
    width: auto; }

  .main-content-text {
    font-size: 16px; }

  .button {
    padding: 0 30px;
    height: 46px;
    line-height: 46px;
    font-size: 18px; }

  /* Footer */
  footer {
    padding: 40px 0; }

  .footer-copyright {
    width: auto; }

  .footer-row {
    flex-direction: column-reverse; }

  .footer-wrap {
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between; } }
@media (max-width: 599px) {
  .container {
    width: 320px; }

  .header-top,
  .header-content {
    width: 100%; }

  .header-title {
    margin-bottom: 10px;
    font-size: 32px; }

  .header-content p {
    font-size: 18px; }

  .main {
    padding: 40px 0; }

  .main .container {
    width: 100%; }

  .main-row {
    flex-direction: column-reverse;
    margin-bottom: 40px; }

  .main-img {
    width: auto;
    height: 150px;
    margin-right: 0;
    margin-bottom: 20px; }

  .main-header {
    font-size: 34px; }

  /* Footer */
  .footer-copyright .footer-logo {
    margin-bottom: 10px; }

  .footer-row {
    text-align: center;
    font-size: 16px; }

  .footer-wrap {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0; }

  .footer-wrap > * {
    margin-right: 0;
    margin-bottom: 40px; }

  .footer-wrap h3 {
    font-size: 20px;
    margin-bottom: 10px; }

  .footer-wrap ul li {
    margin-bottom: 10px; }

  .footer-services {
    display: block; } }
@media (max-width: 1199px) {
  /* Main */
  .article-page-nav-list a {
    font-size: 18px; }

  .article {
    width: 570px;
    font-size: 18px; }

  .article h1 {
    margin-bottom: 20px;
    font-size: 50px; }

  .article-img {
    margin: 30px 0; }

  .inner-page {
    padding: 40px 0 60px; } }
@media (max-width: 899px) {
  .inner-page {
    padding: 20px 0 60px; }

  .row-article-page {
    flex-direction: column-reverse;
    align-items: center; }

  .article {
    width: 100%;
    margin-bottom: 40px;
    font-size: 16px; }

  .article h1 {
    font-size: 42px; }

  .article-img {
    margin: 20px 0; }

  .article-page-nav {
    width: 100%; }

  .article-page-nav-title {
    margin-bottom: 20px; } }
@media (max-width: 599px) {
  .inner-page {
    padding: 20px 0 40px; }

  .container {
    width: auto; }

  .article {
    margin-bottom: 30px; }

  .article h1 {
    font-size: 28px; }

  .article-page-nav-title {
    margin-bottom: 15px; } }
@media (max-width: 1199px) {
  .inner-page {
    padding: 60px 0 60px; }

  .inner-page-turs-header {
    margin-bottom: 40px; }

  .main-header {
    font-size: 50px; }

  .free-turs,
  .extreme-turs {
    width: 420px; }

  .card-title-wrapper {
    height: 60px; }

  .card-title {
    font-size: 24px; }

  .card-title-wrapper {
    padding: 0 20px; }

  .card-adventure,
  .card-treking {
    width: 495px; }

  .card-jungle {
    width: 345px; } }
@media (max-width: 899px) {
  .inner-page {
    padding: 40px 0; }

  .main-header {
    font-size: 42px; }

  .card-box {
    flex-wrap: wrap;
    justify-content: center; }

  .card-box > * {
    flex-shrink: 0; }

  .free-turs,
  .extreme-turs,
  .card-adventure,
  .card-treking,
  .card-jungle {
    width: 570px;
    height: 300px; }

  .free-turs,
  .card-treking {
    margin-bottom: 30px; }

  .card-title-wrapper {
    padding: 0 27px; }

  .card-column .card-title-wrapper {
    padding: 0 23px; }

  .card-jungle .card-title-wrapper {
    padding: 0 33px; }

  .card-adventure,
  .card-treking,
  .card-jungle {
    height: 270px; } }
@media (max-width: 599px) {
  .inner-page-turs-header {
    margin-bottom: 30px; }

  .main-header {
    font-size: 28px; }

  .free-turs,
  .extreme-turs {
    width: 290px;
    height: 290px; }

  .free-turs {
    margin-bottom: 20px; }

  .card-box {
    margin-bottom: 20px; }

  .card-column > * {
    margin-bottom: 20px; }

  .card-column > * + * {
    margin-top: 0; }

  .card-title-wrapper {
    height: 50px;
    padding: 0 15px; }

  .card-column .card-title-wrapper {
    padding: 0 15px; }

  .card-jungle .card-title-wrapper {
    padding: 0 20px; }

  .card-title {
    font-size: 18px; }

  .card-adventure,
  .card-treking,
  .card-jungle {
    width: 288px;
    height: 260px; } }
@media (max-width: 1199px) {
  .contact-page {
    padding: 40px 0 60px; }

  .contact-row {
    flex-direction: column; }

  .contact-info {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%; }

  .contact-block-title {
    margin-bottom: 25px;
    font-size: 24px; }

  .contact-list,
  .contact-list a {
    font-size: 18px; }

  .contact-block .contact-block-title {
    margin-bottom: 20px; }

  .contact-block + .contact-block {
    margin-top: 0; }

  iframe {
    width: 420px;
    height: 310px; }

  .form {
    width: 100%; } }
@media (max-width: 899px) {
  .contact-page {
    padding: 40px 0; }

  .contacts-header {
    margin-bottom: 30px; }

  .contact-info {
    flex-direction: column; }

  .contact-block {
    margin-bottom: 40px; }

  iframe {
    width: 100%; }

  .form {
    padding: 30px; }

  .form-group:last-of-type {
    margin-bottom: 30px; } }
@media (max-width: 599px) {
  .contact-block-title {
    font-size: 20px; }

  .contact-block {
    margin-bottom: 30px; }

  iframe {
    height: 157px; }

  .form {
    padding: 20px; }

  .form-title {
    font-size: 24px; }

  .form-group-title {
    font-size: 18px;
    margin-bottom: 10px; }

  .form-group-row {
    flex-direction: column; }

  .form-group-row > .input + .input {
    margin-top: 10px;
    margin-left: 0; }

  .form-group {
    margin-bottom: 20px; }

  .form-group:last-of-type {
    margin-bottom: 20px; } }

/*# sourceMappingURL=main.css.map */
