*,
*::after,
*::before {
    box-sizing: border-box;
}


html{
    height: 100%;   /* sicky footer */
    scroll-behavior: smooth;
}

body{
    height: 100%;  /* sicky footer */
    display: flex;  /* sicky footer */
    flex-direction: column; /* sicky footer */
    margin: 0;

    font-family: 'PT Sans', sans-serif;
    color: #31405B;
}

body > *{   /* sicky footer */
    flex-shrink: 0;
}

fieldset{
    border: none;
    margin: 0;
    padding: 0;
}

legend{
    padding: 0;
    border: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

input{
    font-family: 'PT Sans', sans-serif;
}

label{
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
html,
body,
iframe,
p,
blockquote,
pre,
dl,
dt,
dd,
ul,
ol,
li {
    margin: 0;
    padding: 0;
    bottom: 0;
    list-style: none;
}

.container {
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 1199px) {
        max-width: 900px;
    }

    @media (max-width: 899px) {
        width: 100%;
    }

    @media (max-width: 599px) {
        width: 320px;
    }

}

.bgcolor{
    background: #F2F8F6;
}

.inner-page{
    padding-top: 60px;
    padding-bottom: 100px;
}

.main-header {
    font-weight: 700;
    font-size: 54px;
    color: #31405B; 
}

.none{
    display: none;
}