
footer{
    margin-top: auto;   /* sicky footer */
    padding-top: 70px;
    padding-bottom: 90px;

    background:#265847;
    color: #FFFFFF
}

footer a{
    text-decoration: none;
    color: #fff;
}

footer a:hover{
    text-decoration: underline;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.footer-wrap{
    display: flex;
}

/* Footer-copyright */

.footer-copyright {
    width: 270px;
}

.footer-logo{
    margin-bottom: 26px;
}

.footer-copyright p{
    font-size: 16px;
    line-height: 1.6;
}

/* Footer-info */

.footer-info {
    width: 170px;  
    margin-right: 30px;
}

.footer-info-title{
    font-weight: 700;
    font-size: 24px;
    margin-top: 7px;
    margin-bottom: 30px;
}

.footer-info-list li{
    margin-bottom: 15px;
}

/* Footer-services */

.footer-services{
    width: 269px;
    margin-right: 30px;
}

.footer-services-title{
    font-weight: 700;
    font-size: 24px;
    margin-top: 9px;
    margin-bottom: 30px;
}

.footer-services-list li{
    margin-bottom: 14px;
}

/* Footer-contacts */

.footer-contacts {
    width: 270px;
}

.footer-contacts-title {
    font-weight: 700;
    font-size: 24px;
    margin-top: 9px;
    margin-bottom: 30px;
}

.footer-contacts-list li{
    margin-bottom: 14px;
}