
.main {
    padding-top: 120px;
    padding-bottom: 120px;
}

.main-row{
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
}

.main-row-reverse{
    flex-direction: row-reverse;
}

.main-row:last-child{
    margin-bottom: 0;
}

.main-content {
    width: 470px;
}

.main-img {
    width: 570px;
}

.main-content-header{
    margin-bottom: 20px;
}

.main-content-text{
    font-size: 20px;
    line-height: 1.6;
    color: #31405B;
    margin-bottom: 40px;
}

.main-content-text p{
    margin-bottom: 15px;
}

.main-content-text p a{
    color: #138ECE;
}