
.products-list{
    display: inline-block;
    padding-left: 25px;
}

.products-list a:hover{
    color: #000;
}

.products-list li{
    margin-bottom: 10px;
    list-style-type: disc;
    border-bottom: 2px solid  #C0C0C0;
}

.products-list a{
    text-decoration: none;
    color: rgb(24, 170, 180);
}